node_modules
# .gitignore

# Node modules
/node_modules

# Build files
/dist
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
server/.env

# OS files
.DS_Store
Thumbs.db

# Other
*.pem
